<app-navigation [postTypes]="postTypes"></app-navigation>
<main>
  <h1>Settings</h1>
  <article>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div *ngFor="let item of settings; let i=index">
        <label id="{{item.settingsName}}">{{ item.displayName }}</label>
        <input *ngIf="item.settingsValueType == 'text'" type="text" id="{{ item.settingsName }}"
          [(ngModel)]="settings[i].settingsValue" name="{{ item.settingsName }}" />
        <select *ngIf="item.settingsValueType == 'boolean'" [(ngModel)]="settings[i].settingsValue" name="{{ item.settingsName }}">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
      <input type="submit" value="Save settings" />
    </form>
  </article>
</main>
