<app-navigation [postTypes]="postTypes"></app-navigation>
<main *ngIf="postInformation">
  <label for="title">Title</label>
  <input id="title" name="title" [(ngModel)]="postInformation.title" (blur)="blurred()">

  <div>
    <span>Slug:</span> <span>{{postInformation.slug}}</span> <button (click)="regenareteSlug()">Update</button>
  </div>

  <label for="content">Content</label>
  <textarea id="content" name="content" [(ngModel)]="postInformation.content"></textarea>

  <div>
    <label for="cssFile">CSS File</label>
    <textarea type="file" name="cssFile"></textarea>
  </div>

  <div>
    <label for="jsFile">JS File</label>
    <textarea type="file" name="jsFile" [(ngModel)]="postInformation.jsFile"></textarea>
  </div>

  <label for="categories">Categories</label>
  <input id="categories" name="categories" [(ngModel)]="categories">

  <label for="tags">Tags</label>
  <input id="tags" name="tags" [(ngModel)]="tags">

  <div *ngIf="postInformation.postStatus !== 'published'">
    Publish at
    <input type="datetime" name="datetime" [(ngModel)]="publishDate" />

    <button (click)="savePost(false)">Save progress</button>
    <button (click)="savePost(true)">Publish</button>
  </div>

  <div *ngIf="postInformation.postStatus === 'published'">
    Published: {{ publishDate ? publishDate.toDateString() : "" }}
    <button (click)="savePost(true)">Update</button>
  </div>

  <section *ngIf="galleryList">
    <div>
      <input type="file" [(ngModel)]="imageToUpload" (change)="fileWasAdded($event)" />
      <button (click)="uploadImage($event)">Upload</button>
    </div>

    <div *ngFor="let image of galleryList">
      <img src="{{image}}"><br />
      URL: {{image}}
    </div>
  </section>
</main>
