<app-navigation [postTypes]="postTypes"></app-navigation>
<main *ngIf="categories">
  <h1>Categories</h1>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>
          <a [routerLink]="['/post/', postTypeUuid, '/category/', category.uuid, 'edit']">{{ category.name }}</a>
        </td>
        <td>
          <a [routerLink]="['/post/', postTypeUuid, 'edit']">Edit</a><br />
          <button (click)="deleteCategory(category.uuid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
