<app-navigation [postTypes]="postTypes"></app-navigation>
<main>
  <h1>Themes list</h1>
  <article>
    <a [routerLink]="['/settings/post-types/new']">Create new post type</a><br />
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postType of postTypes">
          <td>
            <a [routerLink]="['/settings/post-types/edit', postType.uuid]">{{ postType.displayName }}</a>
          </td>
          <td>
            <a [routerLink]="['/settings/post-types/edit', postType.uuid]">Edit</a><br />
            <button (click)="deletePostType(postType.uuid)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</main>
