:root {
  --dark-purple: hsl(300, 100%, 12.9%);
  --orange: hsl(40, 100%, 50%);
  --green: hsl(160, 100%, 50%);
  --white: hsl(300, 0%, 95%);
}

.primary {
  color: var(--white);
  background: var(--dark-purple);

  &:active {
    background: var(--white);
    color: var(--dark-purple);
  }
}

.secondary {
  background: var(--white);
  color: var(--dark-purple);

  &:active {
    color: var(--white);
    background: var(--dark-purple);
  }
}


.warning {
  color: var(--dark-purple);
  background: var(--orange);

  &:active {
    background: var(--dark-purple);
    color: var(--orange);
  }
}

.success {
  color: var(--dark-purple);
  background: var(--green);

  &:active {
    background: var(--dark-purple);
    color: var(--green);
  }
}
