<app-navigation [postTypes]="postTypes"></app-navigation>
<main>
  <h1>List of {{ currentPostType.displayName }}</h1>
  <div>
    <a [routerLink]="['/posts', currentPostType.uuid, 'new']">Create new {{ currentPostType.displayName }}</a>
  </div>
  <div>
    Filter:
    <button (click)="resetFilters()">Reset filters</button>
    <button (click)="getPublishedPosts()">Published</button>
    <button (click)="getScheduledPosts()">Scheduled</button>
    <button (click)="getDraftedPosts()">Drafted</button>
    <button (click)="getDeletedPosts()">In thrash</button>
  </div>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Status</td>
        <td>Published/Updated date</td>
        <td>Categories</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of postList">
        <td>
          <a [routerLink]="['/post/', post.uuid, 'edit']">{{ post.title }}</a>
        </td>
        <td>
          {{ post.postStatus }}
        </td>
        <td>
          {{ post.publishDate }} / {{ post.updateDate }}
        </td>
        <td>
          {{ post.categories.join(', ') }}
        </td>
        <td>
          <a [routerLink]="['/post/', post.uuid, 'edit']">Edit</a><br />
          <button (click)="deletePost(post.uuid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
